header {
    background-color: #9aa1a8;
    }
.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.menu a {
    text-decoration: none;
    font: 18px Arial;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #2F4F4F;
    
}
    .menu li {
    display: inline;
    }
.foto {
        position: absolute;
        left: 600px; top: 50px;
    }
.text1 {
    font: bold 48px Arial;
    color: darkviolet;
    text-align: left;
    padding-left: 120px;
    } 
.text2 {
        font: 24px Arial;
        text-align: left;
        text-indent: 100px;
        text-decoration: underline;
} 
.text3 {
    font: 18px Arial;
    text-align: left;
    text-indent: 60px;
    list-style-type: none;

}    
.text4 {
    font: 18px Arial;
    text-align: left;
    text-indent: 100px;
} 
footer {
    background-color: #778899;
    padding: 5px;
    
          
    }
    .block1 {
    font: 18px Arial;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;    
    }
body {
    margin: 0;
}
    




